.initialMsg{
  max-width: 500px;
  margin: 40px auto;
  padding: 0 20px 40px;
  img{
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    margin: 0 auto;
    background: #ffff;
    border-radius: 100%;
  }
}
